#yemedhnatLogo{
    width:5%;
    height : auto;
}
.cardContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
    border: 1px solid black;
}
@media screen and (max-width:480px) {
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
    .blink{
        background-color:white ;
    }
}
.hover-effect:hover {
  opacity: 0.5;
  border-bottom: 1px solid blue;
}
#titleyemedhnat{
    color: aliceblued;
    position: relative;
    left:-50px;
}
#sendButton{
    position: relative;
    left :170px;
    display:none;
}
.right{
   /* text-align:right;*/
}
table{
    width:100%;

    border: 1px solid black;
}
#get{
    display: none;
}
#parts{
    
    display: flex;
    justify-content: center;
    height: 700px;
}
.list{
    cursor: pointer;
    width: 200px;
    background-color: cadetblue;
    list-style: none;
    padding: 5px;
    margin: 2px;
    text-align: center;
    color:rgb(61, 70, 64);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#done{
    border:  lightblue solid 1px;
    width: 200px;
}
#doneContainer{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
#bgImage{
    background-image: url(/clinic/image/staff.jpg);
    
}
.diagnosis{
    background-color:chocolate;
    color: white;
    
}
.diseases_container{
    height: 700px;
}