#yemedhnatLogo{
    width:5%;
    height : auto;
}
.cardContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
    border: 1px solid black;
}
@media screen and (max-width:480px) {
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
    .blink{
        background-color:white ;
    }
}
.whatsapp{
    position:fixed;
    right: 0px;
    bottom: 0px;
    width:100px;
    height: auto;
}
.hover-effect:hover {
  opacity: 0.5;
  border-bottom: 1px solid blue;
}
#titleyemedhnat{
    color: aliceblued;
    position: relative;
    left:-50px;
}
#sendButton{
    position: relative;
    left :170px;
    display:none;
}
.right{
   /* text-align:right;*/
}
table{
    width:100%;

    border: 1px solid black;
}
#get{
    display: none;
}
#parts{
    
    display: flex;
    justify-content: center;
    padding: 50px;
    min-height: 700px;
}
.list_container{
    display: flex;
    justify-content: center;
}
.list{
    cursor: pointer;;
    width: 200px;
    background-color: cadetblue;
    list-style: none;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 5px 10px 5px white;
    border-radius: 10px;
}
#done{
    border:  lightblue solid 1px;
    width: 200px;
    height: 75px;
    margin: 40px;
}
#doneContainer{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
#bgImage{
    background-image: url(/clinic/image/staff.jpg);
    
}
.diagnosis{
    background-color:chocolate;
    height:40px;
    border-radius: 10px;
    font-size: large;
    color: white;
    width: 200px;
    margin-bottom: 10px;
    

}
.diseases_container{
    height: 700px;
}
.rate{
    margin-top: 200px;
    height: 50px;
    background-color: brown;
    text-decoration: none;
    width: 200px;
}
/* Chat sheets */
.chat_body{
    width: 10vw;

}
.chat_container{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    top:0px;
    margin: 20px;
    height:90%;
    width:90vw;
}
.chat_heading{
    position: fixed;
    width:auto;
    top:inherit;
    left:0px;
    right: 0px;
    text-align: center;
    color: rgb(37, 83, 99);
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    padding:20px;
    margin-top: 0px;
    border-radius: 5px;
}
.m_chats{
    align-self:flex-start;
    border: black solid 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    width:fit-content;
    padding: 10px;
    margin: 20px;
    background-color: lightblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user_chats{
    align-self: flex-end;
    border: white solid 1px;    
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width:fit-content;
    padding: 10px;
    margin: 20px;
    background-color: rgb(186, 230, 173);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user_input{
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
   
    width:auto;
    height:5%;
    border:none;
    background-color: beige;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 20px;
}
.choices{
    cursor: pointer;
    text-align: center;
    align-self: center;
    border: black solid 1px;
    border-radius:10px; 
    width:350px;
    min-width: 160px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(140, 168, 162);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}
.spacer{
    height:30px;
}
.spacer_bottom{
    height:100px;
}
.disclaimer{
    margin-top: 40px;
    font-size: medium;
    text-align: center;
}
.schedule_button{
    height: 2em;
    display:block;
    text-decoration: none;
    text-align: center;
    border: black solid 1px;
    background-color: brown;
    border-radius: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#drM{
    border-radius: 50%;
    height: 40px;
    width: auto;
}
/* user page sheets*/
.photo{
    height: 120px;
    width: auto;
    margin-right: 20px;
    border: black solid 1px;
    border-radius: 20px;
}
.appointment{
    min-height: 60vh;
}
.my_flex{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}